<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bgtoolbar">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title class="center">IT Shop</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/product/15promax.webp" alt="">
          <ion-label>
            <div class="center">
              Iphone 15 Pro Max <br>
              ราคา 48,900 บาท <br>
              <ion-button size="small">
                <ion-icon name="cart-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>

        <ion-col>
          <img src="assets/product/f23fe.webp" alt="">
          <div class="center">
            F23 FE <br>
            ราคา 15,500 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/ipadair5.webp" alt="">
          <div class="center">
            Ipad Air 5 <br>
            ราคา 23,900 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <img src="assets/product/mi-14tpro.jpg" alt="">
          <div class="center">
            MI 14T Pro <br>
            ราคา 18,500 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/mipad5.jpg" alt="">
          <div class="center">
            MI Pad 5 <br>
            ราคา 10,990 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <img src="assets/product/s24.webp" alt="">
          <div class="center">
            S24 <br>
            ราคา 45,900 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/ts9.jpg" alt="">
          <div class="center">
            TS9 <br>
            ราคา 32,900 <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <img src="assets/product/vivo-y20.png" alt="">
          <div class="center">
            Vivo Y20 <br>
            ราคา 5,299 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
